
.row {
    margin: 0px;
    font-size: 14px;
    padding-bottom: 5px;
}


.col-2 {
    text-align: right;
}

.col-2 a:hover{
    color: black;
}
.col-2 a:link{
    color: black;
}
.col-2 a:visited{
    color: black;
}

.col a:link {
    color: white;
  }
  
.col a:visited {
    color: white;
  }
  
.col a:hover {
    cursor: pointer;
    text-decoration: underline;
  }