<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flack</title>
        <script>
            // // Set starting value of username to 'Stranger'
            if (!localStorage.getItem('username'))
                localStorage.setItem('username', 'Stranger');

            // Load current value of username
            document.addEventListener('DOMContentLoaded', () => {
                //document.querySelector('#username').innerHTML = localStorage.getItem('username');

                document.querySelector('#new-name').onsubmit = () => {
                    const username = document.querySelector('#name').value;
                    localStorage.setItem('username', username);
                };
            });
        </script>
    </head>
    <body>
        <p id="username"></p>
        <form id="new-name" method="POST">
            <input id="name" autocomplete="off" autofocus placeholder="New name" type="text">
            <input id="submit" type="submit">
        </form>
    </body>
</html>